:root {
    --bg: rgb(31 41 55);
    --bg2: rgb(23 23 23);
    --text: rgb(245 245 244);
    --text2: rgb(250 204 21);
    --text3:  rgb(23 23 23);
    --bgInput: rgba(250,204,21,0.1);
    --bgCard: rgba(255,255,255,0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: var(--text);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg2);
    overflow-x: hidden;
}

.navbar {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: fixed;
    width: 100%;
    transition: all .3s ease-in-out;
    z-index: 99;
}
.navbar.discroll {
    background: var(--text3);
    box-shadow: 5px 5px 5px var(--bg);
}
.navbar .logo h3 {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1px;
}
.navbar .menu a {
    text-decoration: none;
    margin: 0 5px;
    font-size: 15px;
    transition: all .3s ease-in-out;
}
.navbar .menu a:hover,
.navbar .menu a.active {
    color: var(--text2);
}
.navbar .hamburger {
    position: relative;
    background: transparent;
    border: none;
    cursor: pointer;
}
.navbar .hamburger .hamburger-garis {
    position: absolute;
    width: 30px;
    height: 2px;
    background: var(--text);
    right: 0;
    transition: all .4s;
    display: none;
}
.navbar .hamburger .hamburger-garis:nth-child(1) {
    top: 11px;
}
.navbar .hamburger .hamburger-garis:nth-child(3) {
    bottom: 8px;
}
.navbar.active .hamburger .hamburger-garis:nth-child(1) {
    transform: rotate(45deg);
    transform-origin: top right;
}
.navbar.active .hamburger .hamburger-garis:nth-child(2) {
    transform: scale(0);
}
.navbar.active .hamburger .hamburger-garis:nth-child(3) {
    transform: rotate(-43deg);
    transform-origin: bottom right;
}

#home .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 50px 30px 50px;
}

#home .container .img {
    width: 40%;
}
#home .container .img img {
    width: 120%;
    transform: translateX(-100px);
}

#home .container .teks1 {
    width: 30%;
}
#home .container .teks1 h3 {
    font-size: 30px;
}
#home .container .teks1 h1 {
    font-size: 45px;
    text-wrap: nowrap;
}
#home .container .teks1 h4 {
    font-size: 25px;
    color: var(--text2);
}

#home .container .teks2 {
    width: 30%;
}
#home .container .teks2 p {
    margin-top: 20px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
#home .container .teks2 a {
    padding: 10px 20px;
    border: 1px solid var(--text2);
    border-radius: 5px;
    text-decoration: none;
    position: relative;
    transition: all .5s ease-in-out;
    font-weight: 600;
    overflow: hidden;
}
#home .container .teks2 a:hover {
    color: var(--text3);
}
#home .container .teks2 a::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: var(--text2);
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s ease-in-out;
    border-radius: 5px;
}
#home .container .teks2 a:hover::before {
    width: 100%;
}

#home .containerSosmed {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg);
    padding: 10px 0;
    transform: translateY(-40px);
    margin: 0 auto;
    border-radius: 8px;
}
#home .containerSosmed .sosmed {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
    transition: all 10s ease-in-out;
}
#home .containerSosmed .sosmed .icon i,
#home .containerSosmed .sosmed .text {
    transition: all .3s ease-in-out;
    cursor: pointer;
}

#home .containerSosmed .sosmed:hover .icon i,
#home .containerSosmed .sosmed:hover .text
 {
    color: var(--text2);
} 

#about .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    margin-top: 30px;
}
#about .container .img {
    width: 60%;
}
#about .container .img img {
    width: 100%;
}
#about .container .text h1 {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
}
#about .container .text .biodata {
    display: flex;
    column-gap: 30px;
    margin-top: 20px;
}
#about .container .text .biodata .title p {
    font-weight: 600;
}
#about .container .text .biodata .title p,
#about .container .text .biodata .data p {
    margin-bottom: 10px;
}
#about .container .text .sosmed {
    display: flex;
    column-gap: 40px;
    margin-top: 10px;
}
#about .container .text .sosmed a {
    width: 35px;
    height: 35px;
    border: 1px solid var(--text2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
}
#about .container .text .sosmed a:hover {
    color: var(--text3);
}
#about .container .text .sosmed a::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: var(--text2);
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s ease-in-out;
    border-radius: 5px;
}
#about .container .text .sosmed a:hover::before {
    width: 100%;
}

#skills h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
}
#skills .container {
    padding: 0 30px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    column-gap: 30px;
}
#skills .container .skills1,
#skills .container .skills2 {
    width: 50%;
}
#skills .container .skills1 .skill,
#skills .container .skills2 .skill {
    margin-top: 20px;
}
#skills .container .skills1 .skill .text, 
#skills .container .skills2 .skill .text {
    display: flex;
    justify-content: space-between;
}
#skills .container .skills1 .skill .box-presentase,
#skills .container .skills2 .skill .box-presentase {
    width: 100%;
    height: 15px;
    border-radius: 10px;
    margin-top: 8px;
    border: 1px solid var(--text2);
    padding: 2px;
}
#skills .container .skills1 .skill .box-presentase span,
#skills .container .skills2 .skill .box-presentase span {
    width: var(--persen);
    height: 100%;
    background: var(--text2);
    display: block;
    border-radius: 10px;
}

#project h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 90px;
}
#project .container {
    padding: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    justify-content: center;
    
}
#project .container .card {
    width: 350px;
    height: 250px;
    background: var(--bgCard);
    padding: 10px 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#project .container .card h3 {
    text-align: center;
    margin-bottom: 15px;
}
#project .container .card p {
    font-size: 15px;
}
#project .container .card .language {
    margin-top: 10px;
}
#project .container .card .language span {
    font-size: 12px;
    background: var(--text2);
    padding: 2px 3px;
    display: inline-block;
    margin-top: 5px;
    border-radius: 2px;
    color: var(--text3);
    font-weight: 500;
}
#project .container .card .button {
    display: flex;
    justify-content: flex-end;
}
#project .container .card .button a {
    padding: 7px 14px;
    border: 1px solid var(--text2);
    border-radius: 5px;
    text-decoration: none;
    position: relative;
    transition: all .5s ease-in-out;
    overflow: hidden;
    font-size: 14px;
    margin-top: 15px;
}
#project .container .card .button a:hover {
    color: var(--text3);
}
#project .container .card .button a::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: var(--text2);
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s ease-in-out;
    border-radius: 5px;
}
#project .container .card .button a:hover::before {
    width: 100%;
}


#contact {
    margin: 100px 0;
}
#contact h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}
#contact .container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    width: 100%;
}
#contact .container .image img {
    width: 60%;
}
#contact .container .image img {
    width: 100%;
}
#contact .container form {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 40%;
}
#contact .container form input,
#contact .container form textarea {
    width: 100%;
    padding: 10px 15px;
    border: none;
    outline: none;
    background: transparent;
    border: 1px solid var(--text2);
    resize: none;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
#contact .container form input:hover,
#contact .container form input:focus,
#contact .container form textarea:hover,
#contact .container form textarea:focus {
    background-color: var(--bgInput);
}
#contact .container form input::placeholder,
#contact .container form textarea::placeholder {
    color: var(--text);
}
#contact .container form .button {
    display: flex;
    justify-content: flex-end;
}
#contact .container form .button button {
    padding: 10px 20px;
    border: none;
    background: transparent;
    border: 1px solid var(--text2);
    border-radius: 5px;
    font-weight: 600;
    position: relative;
    transition: all .5s ease-in-out;
    overflow: hidden;
}
#contact .container form .button button:hover {
    color: var(--text3);
}
#contact .container form .button button::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: var(--text2);
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s ease-in-out;
    border-radius: 5px;
}
#contact .container form .button button:hover::before {
    width: 100%;
}

footer {
    background: var(--bg);
    padding: 20px 20px 0 20px;
}
footer .container {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}
footer .container .text {
   width: 70%;
}
footer .container .text h3 {
   margin-bottom: 10px;
}
footer .container .text p {
   font-size: 13px;
}
footer .container .sosmed {
    display: flex;
    column-gap: 30px;
    margin-top: 30px;
}
footer .container .sosmed a {
    width: 35px;
    height: 35px;
    border: 1px solid var(--text2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
}
footer .container .sosmed a i {
    z-index: 2;
    transition: all .5s ease-in-out;
}
footer .container .sosmed a:hover i {
    color: var(--text3);
}
footer .container .sosmed a::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: var(--text2);
    top: 0;
    left: 0;
    z-index: 1;
    transition: all .5s ease-in-out;
    border-radius: 5px;
}
footer .container .sosmed a:hover::before {
    width: 100%;
}
footer .bottom {
    border-top: 1px solid var(--text);
    margin-top: 15px;
}
footer .bottom h6 {
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 1024px) {
    #home .container .teks1 h1 {
        font-size: 35px;
    }
    #home .container .teks1 h4 {
        font-size: 20px;
    }
    #home .container .teks2 p {
        font-size: 13px;
        margin-bottom: 15px;
    }
    #home .container .teks2 a {
        padding: 7px 14px;
        font-size: 15px;
        font-weight: 500;
    }

    #about .container .text {
        width: 60%;
    }

    #project .container {
        grid-template-columns: auto auto; 
        justify-content: center;
    }
    
    
}

@media (max-width: 890px) {
    .navbar {
        background: var(--text3);
    }
    .navbar .menu {
        position: absolute;
        background-color: var(--text3);
        z-index: -1;
        display: flex;
        flex-direction: column;
        width: 100%;
        top: 60px;
        left: 0;
        row-gap: 20px;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        transform: translateX(1000px);
        transition: all .5s ease-in-out;
    }
    .navbar.active .menu {
        transform: translateX(0);
    }
    .navbar .hamburger .hamburger-garis {
        display: block;
    }
    

    #home .container {
        flex-direction: column;
        padding-top: 100px;
    }
    #home .container .img {
        order: 3;
        width: 100%;
    }
    #home .container .img img {
        transform: translateX(-30px);
        width: 100%;
    }
    #home .container .teks1 {
        text-align: center;
        width: 100%;
        order: 1;
        margin-bottom: 10px;
    }
    #home .container .teks1 h3 {
        margin-bottom: 3px;
    }
    #home .container .teks1 h1 {
        margin-bottom: 3px;
    }
    #home .container .teks2 {
        text-align: center;
        margin-bottom: 20px;
        width: 100%;
        order: 2;
    }
    #home .container .teks2 p {
        margin-bottom: 20px;
    }
    #home .containerSosmed .sosmed .text {
        display: none;
    }

    #about .container {
        flex-direction: column;
    }
    #about .container .img {
        width: 100%;
    }
    #about .container .text {
        width: 100%;
    }
    #about .container .text h1 {
        text-align: center;
    }
    #about .container .text .biodata {
        column-gap: 10px;
    }
    #about .container .text .sosmed {
        justify-content: center;
    }    

    #skills {
        margin-top: 50px;
    }    
    #skills .container {
        flex-direction: column;
    }
    #skills .container .skills1,
    #skills .container .skills2 {
        width: 100%;
    }
    #skills .container .skills1 .skill .text, 
    #skills .container .skills2 .skill .text {
        font-size: 14px;
    }


    #project .container {
        grid-template-columns: auto;
    }

    #contact .container {
        flex-direction: column;
    }
    #contact .container form {
        width: 90%;
    }
    
    footer .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer .container .text {
        width: 100%;
     }
     
    
    
}